/* 
.cards . {
    background-image: url("/assets/img/thumbnails/.png");
}
*/
.cards .mario {
    background-image: url("mario.jpg");
}
.cards .pizza-tower {
    background-image: url("pizza.jpg");
}
.cards . {
    background-image: url("/assets/img/thumbnails/.png");
}